.cardMain {
    height: 87%;
    width: 22%;
    top: 4.8rem;
    left: 1.75rem;
    background-color: black;
    color: white;
    position: absolute;
    z-index: 300;
    font-weight: 200;
    text-align: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.cardTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0.5rem;
    font-family: var(--skinny_font);
    font-weight: 400;
    font-size: 1.8rem;
    border-bottom: 0.2rem solid white;
    padding-bottom: 0.25rem;
    width: fit-content;
    text-align: center;
    letter-spacing: 0.07rem;
}

.cardImage {
    position: relative;
    margin-top: 0.2rem;
    z-index: 1;
    border-width: 0.11rem;
    border-style: solid;
    border-radius: 0rem 0rem 0rem 0rem;
    padding: 0.65rem 0.65rem 0.65rem 0.65rem;
    margin-bottom: 0.4rem;
}

.cardFlavorText {
    padding: 0 0.7rem 0rem 0.7rem;
    font-size: 1.1rem;
}

