.homeMain {
    position: absolute;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 111rem;
    background-color: black; 
    color: white;
    width: 0rem;
    z-index: 4;
    left:-0.08rem;
}

.homeTitle {  
    position: absolute;
    top: -1.1rem;
    font-size: 4.2rem;
    font-family: var(--wide_font);
    font-weight: 200;
    margin: 0;
    border-color: white;
    border-width: 0.11rem;
    border-style: solid;
    border-radius: 0rem 0rem 0.7rem 00rem;
    padding: 0rem 12.5rem 9.7rem 0.7rem;
    letter-spacing: 0.14rem;
    background-color: black;
}


.homeFlavorText1 {
    position: absolute;
    top: 4.8rem;
    font-size: 1rem;
    font-family: var(--body_font);
    font-weight: 200;
    margin: 0;
    padding: 1.0rem 0.9rem 0rem 1rem;
    letter-spacing: 0.14rem;
    width: 38rem;
    border-top: 0.15rem solid white;

    
}

.homeFlavorText2 {
    position: absolute;
    top: 9.3rem;
    font-size: 1rem;
    font-family: var(--body_font);
    font-weight: 200;
    margin: 0;
    padding: 0rem 0.7rem 0rem 1rem;
    letter-spacing: 0.14rem;
    width: 38rem;
}
