.welcomeMain {
    height: 90%;
    width: 96%;
    top: 4.5rem;
    left: 1.75rem;
    background-color: black;
    color: white;
    position: absolute;
    z-index: 300;
    border-color: white;
    border-width: 0.11rem;
    border-style: solid;
    border-radius: 0.7rem 3.6rem 0.7rem 3.6rem;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 5rem;
    align-items: center;}

.leftDiv {
    color: white;
    
}

.hello {
    font-family: var(--title_font);
    font-size: 8rem;
    font-weight: 400;
    margin-top: 1rem;
    margin-left:1rem;
    width: fit-content;
    border-bottom: 0.15rem solid white;
}

.flavorText {
    font-family: var(--body_font);
    font-size: 1.19rem;
    font-weight: 350;
    margin-left: 1rem;
    padding: 1rem 1rem 1rem 1.3rem;
    letter-spacing: 0.14rem;
    width: fit-content;
    border-width: 0.11rem;
    border-style: solid;
    border-radius: 0.7rem 1.9rem 0.7rem 1.9rem;
    margin-top: -1.7rem;
}

.shivankSitting {
    color: white;
    border-width: 0.11rem;
    border-style: solid;
    border-radius: 0rem 0rem 0rem 0rem;
    padding: 0.65rem 0.65rem 0.65rem 0.65rem;
    margin-top: -8rem;
}

.shivankIribe {
    color: white;
    border-width: 0.11rem;
    border-style: solid;
    border-radius: 0rem 0rem 0rem 0rem;
    padding: 0.65rem 0.65rem 0.65rem 0.65rem;
    margin-top: 8rem;
    width: 80%;
    height: 80%;

}

